.emi-container {
    font-family: verdana;
    min-height: 248px;
    overflow: hidden;
    width: 100%;
}

#osemi-header {
    background: #000;
    margin: -1px 0 0 -1px !important;
    height: 38px !important;
    width: 300px !important;
    padding: 0 !important;
    border: 0 none !important;
    color: #fff;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
}

#emi-container-full {
    width: 100%;
    height: auto;
    font-family: verdana;
}

#osemi-header {
    background: #000;
    margin: -1px 0 0 -1px !important;
    height: 38px !important;
    width: 300px !important;
    padding: 0 !important;
    border: 0 none !important;
    color: #fff;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
}

.osemi-term {
    float: left !important;
    margin-bottom: 0;
    padding-top: 0;
    width: 50px !important;
}

    .osemi-term input[type=text] {
        width: 50px;
    }

.osemi-tenurechoice {
    float: right;
    margin: 0;
    padding: 2% 0;
    width: 171px;
}

.showtable .btnred {
    background: none repeat scroll 0 0 rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    float: left;
    font-size: 14px;
    margin: 0 0 1%;
    text-decoration: none;
    padding: 8px 1%;
}

    .showtable .btnred:hover {
        background: #CC0001;
    }

.osemi-tenurechoice > div {
    float: left;
    width: 45%;
}

    .osemi-tenurechoice > div input {
        float: left;
        margin: 4px 5px 0;
        padding-right: 9px;
    }



.emi-container table tr td {
    font-size: 13px;
}

#emi-container-full table tr td {
    font-size: 13px;
}

#container {
    margin-left: -43px;
    width: 500px;
    margin-top: 10px;
    height: 250px;
    text-align: left;
    line-height: normal;
    z-index: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #888;
}

.emi-container #interest_rate, .emi-container #tenure {
    margin: 0;
    width: 40px;
}

#emi-container-full #interest_rate, .emi-container-full #tenure {
    margin: 0 !important;
    width: 76% !important;
}

#outstanding_principle {
    font-size: 13px !important;
    margin: 0;
    width: 76%;
}

tr.intrate span, tr.outstanamount span {
    background: none repeat scroll 0 0 rgb(237, 237, 237) !important;
    border-color: rgb(219, 218, 215) !important;
    border-style: solid none solid solid !important;
    border-width: 1px 0 1px 1px !important;
    color: rgb(0, 0, 0);
    display: inline-block !important;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 32px !important;
    line-height: 32px !important;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center !important;
    vertical-align: top !important;
    width: 32px !important;
}

.emi-form input[type="text"] {
    background: none repeat scroll 0 0 #FFF !important;
    border: 1px solid #DBDAD7 !important;
    box-shadow: 1px 1px 4px #F4F4F4 inset !important;
    font: normal 13px/1.5 Helvetica, Arial, Verdana, Sans-serif !important;
    height: 32px !important;
    line-height: 32px !important;
    padding: 0 4px !important;
    -webkit-appearance: none !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

#osemi-summary {
    clear: both !important;
    float: left !important;
    margin: 0 !important;
    width: 28% !important;
}

#emi-container-full #osemi-summary > div {
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    box-shadow: 0 0 3px 2px rgb(221, 221, 221);
    margin-bottom: 20px;
    padding: 3% 6%;
}

#osemi-summary h4 {
    color: rgb(204, 0, 1);
    font-weight: 400;
    margin: 0 0 4px;
    font-size: 14px;
    padding: 0 !important;
    text-align: left;
}

#osemi-summary p {
    font-size: 15px;
    margin: 0;
}

#osemi-summary {
    text-align: left;
}

#emi-container-full .emi-form table {
    border: medium none;
    margin: 0;
}

#emi-container-full .emi-form {
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    float: left;
    width: 36%;
}

    #emi-container-full .emi-form table td {
        border: medium none;
    }

#emi-container-full #container div {
    float: right;
    /*position: absolute !important;*/
    text-align: right;
    top: 0 !important;
    width: 100% !important;
    margin-bottom: 15px;
}

    #emi-container-full #container div svg {
        float: right;
        height: 98% !important;
        position: relative;
        right: 0;
        width: 330px;
    }

tr.outstanamount span.WebRupee {
    background: url("../images/rupees-symbol.png") no-repeat scroll 10px 6px rgb(237, 237, 237) !important;
    font-size: 0;
}

#osp_range {
    margin: 10px 0px 5px 0px;
}

#osir_range {
    margin: 10px 0px 5px 0px;
}

#emi-container-full #osemi-header {
    width: 438px !important;
    display: none;
}

#emi-container-full .emi-form {
    box-shadow: 0 0 3px 2px rgb(221, 221, 221);
    float: left;
    padding: 13px;
    width: 38%;
}

#emi-container-full #container {
    box-shadow: 0 0 3px 2px rgb(221, 221, 221);
    float: right;
    height: 236px;
    margin: 0;
    padding: 0 !important;
    width: 29%;
}

#emi-container-full #osemi-summary {
    clear: none !important;
    float: left;
    margin-left: 15px !important;
    width: 50%;
}

.entry #emipaymenttable table td, .entry #emipaymenttable table th {
    padding: .35em 1.387em;
}

    .entry #emipaymenttable table th.pa, .entry #emipaymenttable table td.pa {
        background: #88a725;
        color: #fff;
    }

    .entry #emipaymenttable table th.int, .entry #emipaymenttable table td.int {
        background: #ed8c2b;
        color: #fff;
    }

    .entry #emipaymenttable table th.tp, .entry #emipaymenttable table td.tp {
        background: #eeeeee;
        color: #000;
    }

    .entry #emipaymenttable table th.tbal, .entry #emipaymenttable table td.tbal {
        background: #A1A2C2;
        color: #fff;
    }

    .entry #emipaymenttable table th.mthy, .entry #emipaymenttable table td.mthy {
        background: #95AFAF;
        color: #fff;
    }

#emipaymenttable table tbody td, #emipaymenttable table tbody th {
    border-bottom: 1px solid #C7C7C7;
}

#osemi-mthbrekup {
    background: #4e4e4e;
    margin: 0 !important;
    height: 38px !important;
    width: 100%;
    padding: 0 !important;
    border: 0 none !important;
    color: #fff;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
}

.showtable{
    margin-top: 15px;
}

#emipaymenttable {
    display: none;
    float: right;
    margin: 0 auto 2%;
    overflow: hidden;
    width: 78%;
}

    #emipaymenttable table {
        width: 100%;
    }

@media only screen and (max-width:700px) {
    #emi-container-full #osemi-header {
        width: 98.52% !important;
    }

    #emi-container-full .emi-form {
        width: 100%;
        margin-bottom: 10px;
    }

    #emi-container-full #osemi-summary {
        width: 100% !important;
        margin-left: 0px !important;
    }
    #emi-container-full #container {
        box-shadow: 0 0 3px 2px rgb(221, 221, 221);
        float: left;
        height: 236px;
        margin: 0;
        padding: 0 !important;
        width: 100%;
    }
    #emi-container-full #container div {
        position: relative !important;
    }
}

@media only screen and (max-width:500px) {
    #container {
        width: 350px;
        height: 250px;
    }
    #emi-container-full table tr td {
        width: 100%; 
        float: left;
    }
}

@media only screen and (max-width:350px) {
    #container {
        width: 270px;
        height: 250px;
        overflow: hidden;
    }
}
