.livo{
    background: url("../images/livo/home-bg.jpg");
    height: 100%;
    min-height: 698px;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    background-size: 100%;
}

.macro-nav{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
}

.macro-nav ul li a{
    color: #fff;
    font-size: 15px;
    padding: 0px 13px;
    display: inline-block;
}

.micro-footer ul li a {
    color: #fff;
}

.macro-nav ul li::after{
    color: #fff;
}

.macro-nav ul li:nth-child(7) a img{
    margin-top: 10px;
    margin-bottom: 10px;
}

.timetolive{
    position: absolute;
    left: 40px;
    bottom: 220px;
}


.livo-about{
    background: url("../images/livo/inner-bg.jpg");
    position: relative;
    float: left;
    padding-bottom: 70px;
    background-size: 100% 100%;
}

.micro-about-sec .txt-box {
    border-radius: 20px;
    margin-top: 80px;
}


.micro-about-sec .txt-box p:last-child{
    margin: 0px;
}

.body-color-grab1, .handle-bar-weights1, .stylish-meter-console1, .d31, .viscous-air-filter1, .superior-performance1, .gear-shift1, .mono-suspension1, .alloy-wheels1, .premium-front1{
    position: relative;
}

.unicorn-feature{
    overflow: hidden;
    border: 1px solid transparent;
    display: block;
    max-width: 600px;
    margin: 0px auto;
    padding-bottom: 15px;
    float: none;
    height: 260px;
    background: #caac6c none repeat scroll 0 0;
}

.unicorn-feature-thumb ul{
    border-left: 1px solid #fff;
    padding: 0px;
    display: block;
}

.unicorn-feature-thumb ul li{
    /* display: block; */
    cursor: pointer;
    float: left;
    border-radius: 15px 0;
    border: 4px solid rgba(0, 0, 0, 0.7);
    width: 76px !important;
    margin: 0% 0 15px 14px !important;
    position: relative;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
}

.unicorn-feature-thumb ul li img{
    max-width: 100%;
}


.unicorn-feature-thumb ul li.feature-active{
    border: 4px solid #f00;
}

.livo-feature-txt {
    background: #000;
    margin-top: 41px;
    padding: 10px 0px;
}


.unicorn-feature-hover img{
    float: left;
    margin-right: 15px;
    max-width: 230px;
}

.feature-note{
    text-align: center;
    font-size: 14px;
    color: #000;
    margin-top: 50px;
}


.features {
    background: rgba(0, 0, 0, 0.60);
    margin: 0px auto;
    max-width: 975px;
}

.specifications-note{
    font-size: 14px;
    color: #000;
    margin-top: 20px;
}


.accessories-popup-sec{
    position: relative;
}

.accessories-popup{
    position: absolute;
    top: 6px;
    width: 100%;
}

.accessories-popup-left{
    float: left;
    width: 50%;
    position: relative;
}

.accessories-popup-right{
    float: left;
    width: 50%;
    position: relative;
    text-align: right;
}

ul.tabbing-links{
    list-style: none;
}

ul.tabbing-links li{
    display: block;
}

ul.tabbing-links li a{
    display: inline-block;
    background: #fff;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 10px;
    font-weight: 500;
    position: absolute;
}

a.lights{
    right: 110px;
}

a.kit-num {
    top: 40px;
    right: 165px;
}

a.lock-kit{
    top: 76px;
    right: 235px;
}

a.front-guard{
    top: 131px;
    right: 135px;
}

a.body-cover{
    top: 222px;
    right: 125px;
}

a.gripCover{
    top: 282px;
    right: 55px;
}

a.power-engine {
    left: 47px;
    top: 218px;
}

a.seat-cover{
    left: 67px;
    top: 65px;
}

a.disc-brake{
    left: 67px;
    top: 130px;
}

a.wheelbase{
    left: 26px;
    top: 172px;
}

a.suspension{
    left: 26px;
    top: 371px;
}

ul.tabbing-links li a:hover{
    background: #000;
    color: #fff;
}

.accessories-popup-box{
    background: rgba(0,0,0,0.80);
    width:500px;
    position:absolute;
    top:0; 
    left:calc(50% - 200px);
    padding: 15px 20px;
        border-radius: 7px;
}

.accessories-popup-box img{
    max-width: 260px;
    margin: 15px auto;
    display: block;
}

.accessories-popup-box h3{
    color: #fff;
}

.accessories-popup-box ul{
    padding-left: 18px;
}

.accessories-popup-box ul li{
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

.cxx{
    font-size: 20px;
    float: right;
    color: #fff;
    background: transparent;
    width: 24px;
    height: 23px;
    padding: 6px;
    cursor: pointer;
}


.for-image img{
    max-width: 100%;
    margin-top: 0px;
}

.unicorn-feature-hover{
    padding: 15px 15px;
}



.unicorn-feature-hover h3{
    color: #fff;
    margin: 0px 0px 15px 0px;
    font-size: 18px;
    line-height: 22px;
}

.unicorn-feature-hover p{
    color: #fff;
    margin: 0 0 5px;
    font-size: 13px;
    line-height: 22px;
}

.accessories-tab {
    padding: 0px 15px;
    max-width: 900px;
    margin: 0px auto;
}

.micro-about-sec .txt-box p{
    margin-bottom: 10px;
    color: #fff;
    font-weight: 400;
}



.accessories-tab ul.nav li.active, .accessories-tab ul.nav li a:focus, .accessories-tab ul.nav li a:hover {
    background: #cc0001;
    border-radius: 5px;
}

.accessories-tab .nav>li>a {
    height: 47px;
    padding: 10px 15px;
    float: left;
    width: 100%;
}

.accessories-tab ul.nav li {
    display: inline-block;
    width: 19%;
    background: none repeat scroll 0 0 rgba(99, 99, 99, 0.78);
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
}

.specifications-box{
    background: transparent;
    display: inline-block;
    padding: 0px;
    border-color: transparent;
    max-width: 1082px;
    margin: 0px auto;
    display: block;
}

.specifications-hover h2 {
    background: none repeat scroll 0 0 #cc0001;
    color: #fff;
    display: block !important;
    font-weight: bold;
    margin: 0;
    padding: 4px 14px 6px;
    text-align: center;
    vertical-align: top;
    font-size: 18px;
}

.specifications-hover ul.tab_content {
    padding: 0px;
}

.specifications-hover ul.tab_content li {
    
    border-top: 1px solid #ddd;
    width: 100%;
    float: left;
    display: table;
}

.specifications-hover ul.tab_content li:nth-child(even){
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
}

.specifications-hover ul.tab_content li:nth-child(odd){
    background: none repeat scroll 0 0 rgba(111, 118, 126, 0.7);
}

.specifications-hover ul.tab_content li:nth-child(1){
    background: none repeat scroll 0 0 rgb(204, 0, 1);
    text-align: center;
    font-size: 16px;
}

.specifications-hover ul.tab_content li span {
    color: #fff;
    display: table-cell;
    padding: 8px 1%;
    vertical-align: top;
    width: 47%;
}

.specifications-hover ul.tab_content li span:first-child{
    border-right: 1px solid #f2f2f2;
}

.specifications-box ul.specifications{
    padding: 0px;
    border-color: transparent;
}

.specifications-box ul.specifications li{
    float: left;
    width: 180px;
    background: transparent;
}

.specifications-box ul.specifications li a{
    background: #353f48;
    border-radius: 4px;
    border: medium none !important;
    font-size: 14px;
    line-height: 22px;
    margin: 0px 10px 10px 10px;
    display: block;
    padding: 8px 10px;
    color: #fff;
    text-align: center;
}


.colors .nav-tabs>li>a img{
    height: 65px;
    width: 89px;
}

.gallery .controls .nav>li img{
    background: rgba(255,255,255,0.90);
    border-color: transparent;
}

.gallery .controls{
    width: 105px;
}

.specifications-hover{
    position: relative;
    margin-right: 40px;
    overflow-x: hidden;
    height:420px;
}

.body-dimensions, .engine, .transmission, .tyres-brakes, .frame-suspension, .electricals{
    float: left;
    width: 100%;
    position: absolute;
    top: 0px;
}

.specifications-active{
    z-index: 99999;
    position: relative;
}

.angle-view, .price, .emi-calculator, .e-brochure, .dealer-locator{
    background-position: bottom;
}

.specifications-box ul li a.specifications-active{
    background: #f93b40;
}

.micro-about-sec .micro-title h6{
    margin-top: 15px;
}

.micro-inquary{
    background:none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
}

    .micro-inquary label {
    color:#fff;
    }

.accordion-section-title.active::before, .accordion-section-title::after{
    color: #fff;
}    

.micro-about-sec .micro-title h6{
    color: #fff;
    margin-top: 15px;
}

.form-left-box {
    margin-top: 0px !important;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.44) !important;
}

.form-left-box p{
    text-align: left !important; 
}

.Livo-mob-logo{
    background: url("../images/livo/logo221.png") no-repeat;
    background-position: -9px -11px;
    background-size: 224px;
}

.ShineSP-about .macro-nav {
    background: transparent;
}

.ShineSP-about .macro-nav {
    background: none repeat scroll 0 0 rgba(224, 224, 224, 0.8);
}

.ShineSP-about .macro-nav ul li a:hover{
    color: #cc0001;
}

.micro-about-sec .txt-box {
    margin-top: 60px;

}
/*
.micro-about-sec .txt-box p{
    text-align: left;
    font-weight: 400;
    line-height: 20px;

}   
*/ 

.tab-content{
    margin-bottom: 50px;
}

.micro-about-sec .txt-box{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6) !important;
    padding: 20px !important;
}

.micro-about-sec .form-control{
    border-radius: 0px;
}

.form-left-box button{
    background: #000;
}


.for-mobile-div{
    display: none;
}


.for-desktop-div{
    display: block;
}

@media only screen and (min-width: 240px) and (max-width: 480px){
.livo{
    background: none;
    min-height: 100%;
}

.macro-nav ul li:nth-child(7){
    display: none;
}

.macro-nav{
    padding: 4px 0px;
    background: #fff;
}

.timetolive{
    bottom: 110px;
    left: 13px;
}

.timetolive img{
    width: 40px;
}

.micro-footer{
    background: #211d1c;
    padding: 4px 0px;
}
.angle-view, .price, .emi-calculator, .e-brochure, .dealer-locator{
    display: none;
}

.macro-nav ul li a{
    color: #000;
}

.macro-nav ul li::after{
    color: #000;
}

.micro-footer ul{
    margin-bottom: 0px;
}

.features-bg{
    padding-bottom: 0px;
    background: none;
}

.livo-about{
    display: inline-block;
    background: url("../images/livo/inner-bg.jpg");
}

.micro-about-sec .txt-box{
    margin: 0px 0px 20px 0px;
}

.livo-about{
    padding-bottom: 0px;
}

.micro-about-sec .micro-title h6{
    color: #fff;
}

.macro-nav ul li a {
    font-size: 12px;
    padding: 3px 5px;
}

.unicorn-feature-thumb{
    display: none;
}

.unicorn-feature{
    height: 100%;
    border-color: transparent;
}

.body-color-grab1, .handle-bar-weights1, .stylish-meter-console1, .d31, .viscous-air-filter1, .superior-performance1, .gear-shift1, .mono-suspension1, .alloy-wheels1, .premium-front1{
    position: relative;
    display: block !important;
    border-bottom: 1px solid #fff;
}

.unicorn-feature-hover h3{
    text-align: left;
}

.unicorn-feature-hover img{
    float: none;
    margin: 15px auto 0px auto;
    max-width: 100px;
    display: block;
}

    .accessories-popup-box img {
    max-width:100%;
    }

.livo-feature-txt{
    margin:0px 0px 0px 0px;
}

.for-image{
    display: none;
}

.specifications-img-box, .specifications-box{
    display: none;
}

.body-dimensions, .engine, .transmission, .tyres-brakes, .frame-suspension, .electricals{
    margin: 0px 0px 20px 0px !important;
    position: relative;
}

.gallery .controls{
    width: 100%;
}

.accessories-images-hide{
    display: none;
}

.accessories-popup{
    position: relative;
}

.accessories-popup-left, .accessories-popup-right{
    display: none;
}

.accessories-popup-box{
    display: block !important;
    position: relative;
    margin-bottom: 15px;
    left: 0px;
    width: 100%;
}

.cxx{
    display: none;
}

.rotatebox .images {
    min-height: 200px;
    position: relative;
}


.rotatebox .images img{
    max-width: 100%;
    max-height: 206px;
}

.livo-feature-txt{
    padding: 15px;
}

.specifications-hover {
    overflow-x: inherit;
    height: auto;
    margin-right: 0;
}
.micro-about-sec .txt-box{
    margin-top:0px;
}


    .micro-about-sec .txt-box .form-control {
    margin-bottom:15px;
    }

.macro-nav ul li a {
    color: #fff;
    font-size: 14px;
    padding: 8px 9px;
}

.macro-nav ul li::after {
    content: "";
}

.macro-nav{
    padding: 0px 0px;
    background: none repeat scroll 0 0 rgb(99, 92, 75);
    display: block;
}

.micro-footer .accordion-section-title {
    color: #fff;
 }

.micro-footer{
    position: relative;
    background: #211d1c;
    padding: 0px 0px;
    left: 0;
} 

.micro-footer ul li a {
    color: #fff;
    text-align: left;
}

.ShineSP-about .macro-nav {
    background: #faf4ef;
}  

.colors .nav-tabs > li{
    margin-bottom: 30px;
}

.accordion-section-content {
    background: #564e3c;
}

.for-mobile-div{
    display: block;
}


.for-desktop-div{
    display: none;
}

}

@media only screen and (min-width: 481px) and (max-width: 767px){
.livo{
    background: none;
    min-height: 100%;
}

.macro-nav ul li:nth-child(7){
    display: none;
}

.macro-nav{
    padding: 4px 0px;
    background: #fff;
}

.timetolive{
    bottom: 110px;
    left: 13px;
}

.timetolive img{
    width: 90px;
}

.micro-footer{
    background: #211d1c;
    padding: 4px 0px;
}
.angle-view, .price, .emi-calculator, .e-brochure, .dealer-locator{
    display: none;
}

.macro-nav ul li a{
    color: #000;
    padding: 6px 10px;
}

.macro-nav ul li:after{
    color: #000;
}

.micro-about-sec .txt-box{
    margin: 0px 0px 20px 0px;
}

.livo-about{
    padding-bottom: 0px;
}

.micro-about-sec .micro-title h6{
    color: #fff;
}

.unicorn-feature-thumb{
    display: none;
}

.unicorn-feature{
    height: 100%;
    border-color: transparent;
}

.body-color-grab1, .handle-bar-weights1, .stylish-meter-console1, .d31, .viscous-air-filter1, .superior-performance1, .gear-shift1, .mono-suspension1, .alloy-wheels1, .premium-front1{
    position: relative;
    display: block !important;
    border-bottom: 1px solid #fff;
}

.unicorn-feature-hover h3{
    text-align: left;
    margin-top: 10px;
}

.unicorn-feature-hover img{
    float: left;
    margin: 0px 23px 6px 0px;
    max-width: 100px;
    display: block;
}

.for-image{
    display: none;
}

.specifications-img-box, .specifications-box{
    display: none;
}

.body-dimensions, .engine, .transmission, .tyres-brakes, .frame-suspension, .electricals{
    margin: 0px 0px 20px 0px !important;
    position: relative;
}

.gallery .controls{
    width: 100%;
}

.accessories-images-hide{
    display: none;
}

.accessories-popup{
    position: relative;
}

.accessories-popup-left, .accessories-popup-right{
    display: none;
}

.accessories-popup-box{
    display: block !important;
    position: relative;
    margin-bottom: 15px;
    left: 0px;
    width: 100%;
}

.cxx{
    display: none;
}


.rotatebox .images {
    height: 320px;
    position: relative;
}

.rotatebox .images img{
    max-width: 100%;
}
.livo-feature-txt {
    margin-top: 0;
}

.specifications-hover {
    overflow-x: inherit;
}
.micro-about-sec .txt-box{
    margin-top:0px;
}


    .micro-about-sec .txt-box .form-control {
    margin-bottom:15px;
    }

.macro-nav ul li a {
    color: #fff;
    font-size: 14px;
    padding: 8px 9px;
}

.macro-nav ul li::after {
    content: "";
}

.macro-nav{
    padding: 0px 0px;
    background: none repeat scroll 0 0 rgb(99, 92, 75);
    display: block;
}

.micro-footer .accordion-section-title {
    color: #fff;
 }

.micro-footer{
    position: relative;
    background: #211d1c;
    padding: 0px 0px;
    left: 0;
} 

.micro-footer ul li a {
    color: #fff;
    text-align: left;
}

.ShineSP-about .macro-nav {
    background: #faf4ef;
}
.colors .nav-tabs > li span{
    top: 58px;
}

.accordion-section-content {
    background: #564e3c;
}

.for-mobile-div{
    display: block;
}


.for-desktop-div{
    display: none;
}

}


@media only screen and (min-width: 768px) and (max-width: 1024px){
.macro-nav ul li a {
    padding: 0 3px;
}

.macro-nav ul li a img{
    max-width: 230px;
    margin-top: 7px;
}

.livo{
    min-height: 428px;
    background-size: 100% 100%;
}

.timetolive {
    position: absolute;
    left: 40px;
    bottom: 100px;
}

.timetolive img{
    width: 150px;
}

.unicorn-feature-thumb{
    display: none;
}

.unicorn-feature{
    height: 100%;
    border-color: transparent;
}

.body-color-grab1, .handle-bar-weights1, .stylish-meter-console1, .d31, .viscous-air-filter1, .superior-performance1, .gear-shift1, .mono-suspension1, .alloy-wheels1, .premium-front1{
    position: relative;
    display: block !important;
    border-bottom: 1px solid #fff;
}

.unicorn-feature-hover h3{
    text-align: left;
    margin-top: 10px;
}

.unicorn-feature-hover img{
    float: left;
    margin: 0px 23px 6px 0px;
    max-width: 230px;
    display: block;
}

.for-image{
    display: none;
}


.specifications-img-box, .specifications-box{
    display: none;
}

.body-dimensions, .engine, .transmission, .tyres-brakes, .frame-suspension, .electricals{
    margin: 0px 0px 20px 0px !important;
    position: relative;
}

.accessories-images-hide{
    display: none;
}

.accessories-popup{
    position: relative;
}

.accessories-popup-left, .accessories-popup-right{
    display: none;
}

.accessories-popup-box{
    display: inline-block !important;
    position: relative;
    margin-bottom: 15px;
    left: 0px;
    width: 100%;
}

.accessories-popup-box img {
    max-width: 260px;
    margin: 0px 30px 0px 0px;
    float: left;
}

.cxx{
    display: none;
}

.specifications-hover {
    overflow-x: inherit;
}

.micro-about-sec .txt-box{
    margin-top:0px;
}


    .micro-about-sec .txt-box .form-control {
    margin-bottom:15px;
    }

.col-md-6.specifications-sec{
    width: 100%;
}
}