.unicorn {
    background: url("../images/unicorn/angle-view.jpg");
    height: 100%;
    min-height: 698px;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    background-size: cover;
}

.tab-content{
    margin-bottom: 50px;
}

.macro-nav ul li a {
    color: #fff;
    font-size: 15px;
    padding: 0px 13px;
    display: inline-block;
}

.micro-footer ul li a {
    color: #fff;
    padding-left: 15px;
}

.macro-nav ul li:nth-child(7) a img {
    margin-top: 10px;
    max-width: 180px;
}

.unicorn-mob-logo {
    background: url("../images/unicorn/unicorn-logo.png") no-repeat;
    background-position: 5px 5px;
    background-size: 254px;
}

.features-bg {
    background: url("../images/unicorn/inner-bg.jpg");
}

.micro-about-sec .micro-title h6 {
    color: #fff;
}

.unicorn-feature {
    overflow: hidden;
    border: 1px solid #fff;
    display: inline-block;
}

.unicorn-feature-thumb ul {
    border-left: 1px solid #fff;
    padding: 0px;
    display: inline-block;
}

    .unicorn-feature-thumb ul li {
        /* display: block; */
        float: left;
        border-radius: 15px 0;
        border: 1px solid #a3a2a2;
        width: 30% !important;
        margin: 2.5% 0 0 2.5% !important;
        position: relative;
        border-radius: 5px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-backface-visibility: hidden;
        overflow: hidden;
    }

        .unicorn-feature-thumb ul li img {
            max-width: 100%;
        }

.for-image img {
    max-width: 100%;
    margin-top: 120px;
}

.unicorn-feature-hover {
    padding: 15px 15px;
}

    .unicorn-feature-hover img {
        float: left;
        margin-right: 15px;
    }

    .unicorn-feature-hover h3 {
        color: #fff;
        margin: 0px 0px 15px 0px;
        font-size: 18px;
        line-height: 22px;
    }

    .unicorn-feature-hover p {
        color: #fff;
        margin: 0 0 5px;
        font-size: 13px;
        line-height: 22px;
    }

.accessories-tab {
    padding: 0px 15px;
    max-width: 900px;
    margin: 0px auto;
    position: relative;
    top: 40px;
}

.micro-about-sec .txt-box p {
    margin-bottom: 10px;
    line-height: 22px;
    font-weight: 300px;
    color: #fff;
}

.accessories-tab .accessories-box{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

.micro-about-sec .txt-box {
    background: transparent;
}

.accessories-tab ul.nav li.active, .accessories-tab ul.nav li a:focus, .accessories-tab ul.nav li a:hover {
    background: #cc0001;
    border-radius: 5px;
}

.accessories-tab ul.nav li a:hover{
    background: transparent;
}

.accessories-tab .nav > li > a {
    height: 47px;
    padding: 10px 15px;
    float: left;
    width: 100%;
}

.accessories-tab ul.nav li {
    display: inline-block;
    width: 24%;
    background: none repeat scroll 0 0 rgba(99, 99, 99, 0.78);
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
}

.specifications-box {
    background: transparent;
    display: inline-block;
    padding: 0px;
    border-color: transparent;
    overflow: hidden;
}

.specifications-hover h2 {
    background: none repeat scroll 0 0 #cc0001;
    color: #fff;
    display: block !important;
    font-weight: bold;
    margin: 0;
    padding: 4px 14px 6px;
    text-align: center;
    vertical-align: top;
    font-size: 18px;
}

.specifications-hover ul.tab_content {
    padding: 0px;
}

    .specifications-hover ul.tab_content li {
        background: #52595e;
        border-top: 1px solid #ddd;
        width: 100%;
        float: left;
        display: table;
    }

        .specifications-hover ul.tab_content li span {
            color: #fff;
            display: table-cell;
            padding: 8px 1%;
            vertical-align: top;
            width: 47%;
        }

            .specifications-hover ul.tab_content li span:first-child {
                border-right: 1px solid #f2f2f2;
            }

.specifications-box ul.specifications {
    padding: 0px;
    border-color: transparent;
}

    .specifications-box ul.specifications li {
        float: left;
        width: 33%;
        background: transparent;
    }

        .specifications-box ul.specifications li a {
            background: #353f48;
            border-radius: 4px;
            border: medium none !important;
            font-size: 14px;
            line-height: 22px;
            margin: 0px 5px 10px 0px;
            display: block;
            padding: 8px 10px;
            color: #fff;
            text-align: center;
        }

        .specifications-box ul.specifications li:nth-child(3) a, .specifications-box ul.specifications li:nth-child(6) a {
            margin: 0px 0px 10px 0px;
        }

.colors .nav-tabs > li > a img {
    height: 65px;
    width: 89px;
}

.gallery .controls .nav > li img {
    background: rgba(255,255,255,0.90);
    border-color: transparent;
}

.gallery .controls {
    width: 105px;
}

.specifications-hover {
    position: relative;
    overflow: hidden;
}

.body-dimensions1, .engine1, .transmission1, .tyres-brakes1, .frame-suspension1, .electricals1 {
    float: left;
    height: 370px;
    width: 100%;
    position: absolute;
    top: 0px;
}

.specifications-active {
    z-index: 99999;
    position: relative;
}

.angle-view, .price, .emi-calculator, .e-brochure, .dealer-locator {
    background-position: bottom;
}

.specifications-box ul li a.specifications-active {
    background: #f93b40;
}

.form-left-box .form-control{
    border-radius: 0px;
}

.body-color-grab, .handle-bar-weights, .stylish-meter-console, .d3, .viscous-air-filter, .superior-performance, .gear-shift, .mono-suspension, .alloy-wheels, .premium-front {
    position: absolute;
}

.unicorn-feature-thumb ul li.feature-active {
    border: 1px solid #f00;
}

.micro-inquary {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
}


.accordion, .accordion * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.accordion {
    overflow: hidden;
    display: block;
}

.macro-nav{
    background: transparent;
}

.accordion-section-title {
    width: 100%;
    padding: 0px 15px;
    display: none;
    text-align: left;
    border-bottom: 1px solid #1a1a1a;
    transition: all linear 0.15s;
    font-size: 1.200em;
    text-shadow: 0px 1px 0px #1a1a1a;
    color: #fff;
    line-height: 42px;
    position:relative;
}

.micro-footer .accordion-section-title{
    background: #484848;
}

.unicorn-logo-bg{
    background: url("../images/unicorn/unicorn-logo.png") no-repeat;
    background-position: 0px 6px;
}

.accordion-section-title.active, .accordion-section-title:hover, .accordion-section-title:active, .accordion-section-title:focus {
    text-decoration: none;
    color: #fff;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom: none;
    color: #fff;
}

.accordion-section-content {
    padding: 0px;
    display: block;
}

    .accordion-section-title::after {
    content: "+";
    float:right;
    display: block;
    color: #fff;
    }

     .accordion-section-title::before {
   content: "-";
    float:right;
    display:none;
    font-size: 36px;
    color: #fff;
    }

.accordion-section-title.active::before {
    display:block;
}

.accordion-section-title.active::after {
    display:none;
}

.accordion-section-title .micronav-minus, .accordion-section-title .micronav-plus {
    float: right;
    font-size: 35px;
    position: relative;
}

    .micro-footer ul li a{
    text-align:left !important;
    }

.macro-nav ul li::after {
color:#fff;
}

.new-360{
    margin-top: 80px;
}

.micro-about-sec .right-box img{
    margin-top: 50px;
}


@media only screen and (min-width: 240px) and (max-width: 480px) {
    .unicorn {
        background: none;
        min-height: 100%;
    }

    .macro-nav ul li:nth-child(7) a {
        background: rgba(0, 0, 0, 1);
        margin-top: 15px;
    }

    .macro-nav ul li:nth-child(7) img {
        display: block;
        max-width: 200px;
    }

    .features-bg {
        padding-bottom: 0px;
        background: none;
    }

    .micro-about-sec {
        display: inline-block;
        background: url("../images/unicorn/inner-bg.jpg");
    }

        .micro-about-sec .txt-box {
            padding: 0px;
        }

    .macro-nav ul li a {
        font-size: 14px;
        padding: 4px 5px;
    }

    .unicorn-feature-thumb {
        display: none;
    }

    .unicorn-feature {
        border-color: transparent;
    }

    .body-color-grab, .handle-bar-weights, .stylish-meter-console, .d3, .viscous-air-filter, .superior-performance, .gear-shift, .mono-suspension, .alloy-wheels, .premium-front {
        position: relative;
        display: block !important;
        border-bottom: 1px solid #fff;
    }

    .unicorn-feature-hover h3 {
        text-align: left;
    }

    .unicorn-feature-hover img {
        float: none;
        margin: 20px auto 20px auto;
        max-width: 100px;
        display: block;
    }

    .for-image {
        display: none;
    }

    .specifications-img-box, .specifications-box {
        display: none;
    }

    .body-dimensions1, .engine1, .transmission1, .tyres-brakes1, .frame-suspension1, .electricals1 {
        margin: 0px 0px 20px 0px !important;
        position: relative;
        height: auto;
    }

    .gallery .controls {
        width: 100%;
    }

    .accordion-section-title {
        display: inline-block;
    }

    .accordion-section-content {
        display: none;
    }

    .macro-nav ul li {
        display: block;
        position: relative;
        text-align: left;
    }

        .macro-nav ul li a {
            font-size: 14px;
            padding: 10px 15px;
        }

    .micro-sec .macro-nav ul li::after {
        content: "";
    }
    .micro-footer ul li {
display:block;
}
    .accordion-section-content {
    background: #5a5a5a;
}
.breadcrumb{
    display: none;
}
.micro-about-sec .micro-title h6{
    font-size: 16px;
}
.unicorn-logo-bg{
    background-size: contain;
}

.macro-nav {
    background: #484848;
} 

.activa3g-bg .macro-nav, .features-bg .macro-nav {
    background: #3c3c3c;
}

}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .unicorn {
        background: none;
        min-height: 100%;
    }

    .macro-nav ul li:nth-child(7) a {
        background: rgba(0, 0, 0, 1);
        margin-top: 15px;
    }

    .macro-nav ul li:nth-child(7) img {
        display: block;
        max-width: 200px;
    }

    .features-bg {
        padding-bottom: 0px;
        background: none;
    }

    .micro-about-sec {
        display: inline-block;
        background: url("../images/unicorn/inner-bg.jpg");
    }

        .micro-about-sec .txt-box {
            padding: 0px;
        }

    .macro-nav ul li a {
        font-size: 14px;
        padding: 4px 5px;
        color:#fff;
    }
    .macro-nav ul li::after {
    content: "";
    }

    .unicorn-feature-thumb {
        display: none;
    }

    .unicorn-feature {
        border-color: transparent;
    }

    .body-color-grab, .handle-bar-weights, .stylish-meter-console, .d3, .viscous-air-filter, .superior-performance, .gear-shift, .mono-suspension, .alloy-wheels, .premium-front {
        position: relative;
        display: block !important;
        border-bottom: 1px solid #fff;
    }

    .unicorn-feature-hover h3 {
        text-align: left;
        margin-top: 10px;
    }

    .unicorn-feature-hover img {
        float: left;
        margin: 0px 23px 6px 0px;
        max-width: 100px;
        display: block;
    }

    .for-image {
        display: none;
    }

    .specifications-img-box, .specifications-box {
        display: none;
    }

    .body-dimensions1, .engine1, .transmission1, .tyres-brakes1, .frame-suspension1, .electricals1{
        margin: 0px 0px 20px 0px !important;
        position: relative;
        height: auto;
    }

    .gallery .controls {
        width: 100%;
    }


    .accordion-section-title {
        display: inline-block;
    }

    .accordion-section-content {
        display: none;
    }

    .macro-nav ul li {
        display: block;
        position: relative;
        text-align: left;
    }

        .macro-nav ul li a {
    font-size: 14px;
    padding: 9px 15px;
    color: #fff;
}

    .unicorn-about .macro-nav ul li::after {
        content: "";
    }
        .micro-footer ul li {
display:block;
}
    .accordion-section-content {
    background: #5a5a5a;
}
.breadcrumb{
    display: none;
}

.macro-nav {
    background: #484848;
} 

.activa3g-bg .macro-nav, .features-bg .macro-nav {
    background: #3c3c3c;
}


}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .macro-nav ul li a {
        padding: 0 3px;
    }

        .macro-nav ul li a img {
            max-width: 230px;
            margin-top: 7px;
        }

    .unicorn {
        min-height: 460px;
    }

    .unicorn-feature-thumb {
        display: none;
    }

    .unicorn-feature {
        border-color: transparent;
    }

    .body-color-grab, .handle-bar-weights, .stylish-meter-console, .d3, .viscous-air-filter, .superior-performance, .gear-shift, .mono-suspension, .alloy-wheels, .premium-front {
        position: relative;
        display: block !important;
        border-bottom: 1px solid #fff;
    }

    .unicorn-feature-hover h3 {
        text-align: left;
        margin-top: 10px;
    }

    .unicorn-feature-hover img {
        float: left;
        margin: 0px 23px 6px 0px;
        max-width: 100px;
        display: block;
    }

    .for-image {
        display: none;
    }

    .specifications-box ul.specifications li a {
        font-size: 12px;
    }
}